/* règle générale pour remettre à 0*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    margin-block-start: 0;
    margin-block-end: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* début CSS :introduction et mise en page générale*/
body,
span{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color:  black;
    font-style: normal;
    font-weight: 700;
    max-width: 1400px;
}

body{
    background-color: white;
    padding: 44px 50px 0px 50px;
    line-height: 1;
    width:80%;
        margin-left:auto;
        margin-right:auto;
}

.offre-image-marseille,
.offre-image-populaire,
.activite-cadre{    
    object-fit: cover;
    max-width: 100%;
    box-sizing: border-box;  
}

figure{
    display: block;
}

nav > a{
    display: inline-block;
    padding: 30px
}

nav >a:hover{
    color:  #0065FC;
    border-top: 2px solid #0065FC;
}

a{
    text-decoration: none;
    color: black;
}

i{
    color: #0065FC;
    padding-right: 10px;
}

h1,
h2{
    font-size: 22px;
    line-height: 26px;
}

h2,p{
    padding: 30px 0px 10px 0px;
}

h3{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

.filtres-recherche p{
    font-size: 17px;
    line-height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding: 10px;
    font-weight: 700;
}

.filtres-recherche p:hover,
.offre-marseille:hover,
.offre-populaire:hover{
    background-color: #DEEBFF;
}

.offre-marseille figcaption,
.offre-populaire figcaption{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

p,
li{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

li{
    padding-top: 20px;  
}

figcaption{
    margin-left: 15px;
    margin-bottom: 10px;
}
/*fin propriétés générales; début introduction*/

.logo{
    height: 19px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 0px 20px 20px 0px;
}

.introduction > p{
    padding: 0 0 10px 0;
}

label,
input,
button{
    height: 49px;
    margin-bottom: 32px;
    margin-top: 20px;
}

label{
    border-radius: 15px 0px 0px 15px;
    border: 3px solid #F2F2F2;
    background-color: #F2F2F2;
    width: 50px; 
    padding: 11px 5px 13px 10px;      
}

.fa-location-dot{
    color: black;
}

input{
    width: 282px;
    border: 1px solid #F2F2F2;
    margin: -10px; 
}

button{
    background: #0065FC;
    border: 1px solid #0065FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
    width: 132px;  
    color: white; 
    display: inline;
    padding: 4px 0px 9px 0px;
}

button > span{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.fa-magnifying-glass{ 
    visibility: hidden;
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */
}

.filtres-recherche{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: auto;
    gap: 30px; 
}

.filtres-recherche h2{
    padding: 0;
    margin-top: 10px;
}

.filtre-recherche-bordure{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.fa-info{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #0065FC;
    padding: 3px 10px 5px 9px;
    margin-right: 20px;
}
/*fin Introduction, début regroupement offre*/

.regroupement-offre{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content:flex-start;
    gap: 40px;
    padding-bottom: 40px;
}

.regroupement-offre h2,
.regroupement-offre span{
    margin-left: 36px;
}

.regroupement-offre h2{
    padding: 42px 0 23px 0;
}

.regroupement-offre span{
    margin-top: 40px;
    margin-bottom: 46px;
    display: inline-block;
}

.regroupement-offre figcaption{
    padding: 10px 0 0 0;
}

.carre-offre-populaire h2{
    margin-left: 12px; /* décalé car priorité cascading*/
}

.carre-offre-flex h2,
.carre-offre-flex p,
.carre-offre-flex h3,
.carre-offre-flex figcaption,
.carre-offre-flex-bis h2,
.carre-offre-flex-bis p,
.carre-offre-flex-bis h3,
.carre-offre-flex-bis figcaption{
   margin-left: 20px;
   margin-right: 10px;
}

.offre-populaire h3{
    margin-top: 15px;
}

.offre-marseille p{
    padding: 0 0 10px 0;
}

.fa-chart-line{
    float: right;
}

.regroupement-offre i{
    padding-right: 30px;
}

.offre-marseille i,
.offre-populaire i{
    padding-right: 5px!important;
}

.carre-offre-marseille{
    width: 70%;
}

.carre-offre-populaire{
    width: 30%;  
}

.carre-offre-marseille,
.carre-offre-populaire{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    background: #F2F2F2;
    min-height: 701px;
}

.carre-offre-flex,
.carre-offre-flex-bis{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carre-offre-flex-bis{
    flex-direction: column;
    gap: 20px;
}

.fa-star{
    width:12px;
    height:12px;
    padding: 20px 0 0 0;
}

.offre-marseille,
.offre-populaire{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    background: white;  
    margin-top: 20px;
}

.offre-marseille{
    width: 30%;
    min-height: 199px;
}

.offre-image-marseille{
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}


.offre-populaire{
    width: 90%;
    height: 151px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
}

.offre-image-populaire{
    height: 144px;
    width: 40%;
    align-self: flex-start;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.offre-populaire-texte{
    flex: 1 1 auto;
    position: relative;
}

.offre-populaire-texte p{
    padding-top: 10px;
}

.score-star{
    position: absolute;
    bottom: 0;
    margin: 0;
}
/*Fin regroupement offre, début activité Marseilleµ*/

.activite-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}

figure.activite-cadre,
figcaption.activite-cadre{
    height: 445px;
}

.activite-cadre{
    height: 388px;  
    width: 302px;
    background-size: cover;
    border-radius: 20px;
}

figure.activite-flex{
    margin-inline-start: 0px;
    margin-inline-end: 60px;
}

.figcaption-activite-cadre{
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-top: 10px;
}

/*fin activité Marseille, début Footer*/

footer{
    display: flex;
    background: #F2F2F2;
    border: 2px solid #F2F2F2;
    align-items: flex-start;
    padding: 30px 0px 30px 0px;
    justify-content: space-around;
    height: 225px;
}

footer div{
    width: 25%;
}

@media all and (min-width: 992px) and (max-width:1200px){
    
    .filtre-recherche-bordure {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .filtres-recherche p {
        padding: 2px 5px 2px 5px;
    }


    .filtres-recherche h2 {
        margin-top: 0px;
    }

    .fa-chart-line {
         float: none;
    }

    .offre-marseille h3{
        height: 20px;
    }
    
    .offre-marseille figcaption {
        margin-top: 20px;
        padding: 0;
    }

    .carre-offre-populaire{
        min-height: 727px;
    }
    .offre-populaire h3 {
        margin-top: 5px;
    }
}


@media all and (max-width: 991px){

    body{
        padding: 48px 72px 0px 72px;
    }
    .filtres-recherche p{
        padding: 4px 5px 4px 5px;
    }

    .filtres-recherche{
        gap: 10px;
    }
    .filtre-recherche-bordure{
        gap:20px;
    }

    .introduction h2,
    .introduction p{
        padding: 10px 0 10px 0;
    }
    
    .filtres-recherche h2 {
        margin-top: 4px;
    }

    .filtres-recherche p{
        font-size: 1.7vmin;
        padding: 7px 5px 6px 5px
    }

    .filtres-recherche{
        padding: 2px 4px;
        min-height: 40px;
    }
    .regroupement-offre{
        flex-direction: column;
    }
    .regroupement-offre h2, 
    .regroupement-offre span {
        margin-left: 23px;
    }

    .carre-offre-flex-bis{
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .carre-offre-marseille, 
    .carre-offre-populaire{
        width: 100%;
        min-height: 100%;
    }

    .offre-marseille{
        width: 30%;
    }
    .carre-offre-populaire h2 {
        padding: 34px 0 16px 13px;
    }
    .carre-offre-populaire{
        flex-direction: row;
        justify-content: center;
        width: 80vw;
        min-height: 278px;
    }
    .offre-populaire{
        width: 23vw;
    }

    .offre-populaire-texte{
        margin: -10px;
    }
    
    .offre-populaire p{
        font-size: 14px;
        line-height: 16px;
        padding: 5px 0 20px 0;
    }
    .offre-populaire h4{
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }

    footer{
        height: 191px;  
    }

    footer h2{
        font-size: 18px;
    }
    footer div{
        width: 27%;
    }
}

@media all and (max-width: 767px) {

   body{
    padding: 21px 20px 0 20px;
   }

    h2,p{
        margin-top: 10px;
    }
    header{
        flex-direction: column;
    }
    nav{
        padding-top: 38px;
    }
   

    nav >a:hover{
        color:  #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: 0px solid white;
    }
    label{
        width: 20%;
        margin-left: 10px;
    }
    input{
        width: 67%;
    }
    button{
        width: 12%;
        padding: 2px 0px 0px 4px;
    }

    button > span{
        display: none;
    }

    .fa-magnifying-glass{
        visibility: visible;
        text-indent: 0;
        display: block;
        line-height: initial;
        height: 17px;
        width: 17px;
        color: white;
    }

    .filtres-recherche p{
        max-height: 50px;
        min-width: 30vw;
        max-width: 160px;
        font-size: 11px;
        padding: 6px 5px 6px 4px;
        font-weight: 700;
        font-size: 2.8vmin;
    }

    .filtres-recherche,
    .filtre-recherche-bordure{
        flex-wrap: wrap;
    }

    h2, p{
        padding: 0;
    }

    .regroupement-offre{
        flex-direction: column-reverse; 
        margin-top: 45px;
    }

    .regroupement-offre h2{
         margin-left: 10px;
         padding: 5px 0 5px 0;
        
    }

    .offre-populaire h3{
        max-width: 145px;
    }
    
    .regroupement-offre figcaption{
        margin-top: 0;
        padding: 0;
    }
    .regroupement-offre span{
        display: none;
    }

    .carre-offre-marseille,
    .offre-marseille,
    .carre-offre-populaire,
    .offre-populaire{
        width: 95%;
        height: 100%;
        max-width: 90vw;
    }

    .offre-marseille{   
        margin-right: 0;
        margin-left: 0;
    }

    .offre-populaire{
        border: 0;
        margin-left: 5px;
    }

    .carre-offre-flex-bis{
        flex-direction: column;
    }

    .offre-image-marseille{
        height: 124px;
        width: 100%;
    }

    .activite-flex{
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    
    .activite-cadre{
        width: 100vw;
        height: 190px;
    }
    footer{
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0px 0px 40px 0px;
    }

    footer div{
        width: 100%;
        text-align: center;
    }
    li{
        padding-top: 10px;
    }

}

@media all and (max-width: 400px){
    h2{
        font-size: 6vmin;
    }

    nav > a {
        padding: 0.6em;
    }

    .regroupement-offre i {
        padding-right: 20px;
    }
}
